<main>
  <section>
    <h3>Update Product Specification</h3>
    <div class="red-line"></div>

    <ng-container *ngIf="!isSelectedCatalogue; else currentCatalogue">
      <h5 class="date-range-form">Select Date Range</h5>
      <div class="date-range-form">
        <mat-form-field appearance="outline">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker" [max]="maxDate">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
          <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
          <mat-error *ngIf="range.controls.end.hasError('InvalidRange')">Please select valid date range</mat-error>
        </mat-form-field>

        <button mat-button (click)="viewCatalogueList()">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <p *ngIf="selectDate">{{selectDate}}</p>

      <div *ngFor="let catalog of catalogueList" class="catalogue-list">
        <div class="catalog">
          <article>
            <span>{{catalog.catalog_name}}</span>
          </article>
          <article>
            <button mat-button (click)="addSpecifications(catalog)">Add Specifications</button>
            <button mat-button (click)="deleteCatalogue(catalog.id)" class="outlined-btn">Delete</button>
          </article>
        </div>
      </div>
    </ng-container>

    <div>
      <app-error-success [errors]="errorMessages" [success]="successMessage"></app-error-success>
    </div>

    <ng-template #currentCatalogue>
      <ng-container *ngIf="!loading; else Loading">
        <div class="catalogue-name">
          <button mat-button (click)="backToCatalogueList()">
            <span>< Back</span>
          </button>
          <h5>{{isSelectedCatalogue}}</h5>
        </div>

        <div class="table-box">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="sr_no">
              <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
              <td mat-cell *matCellDef="let idx = index">{{idx + 1}}</td>
            </ng-container>

            <ng-container matColumnDef="sku_id">
              <th mat-header-cell *matHeaderCellDef> SKU Number </th>
              <td mat-cell *matCellDef="let element"> {{element?.sku_id}} </td>
            </ng-container>

            <ng-container matColumnDef="product_name">
              <th mat-header-cell *matHeaderCellDef> Product Name </th>
              <td mat-cell *matCellDef="let element"> {{element?.product_name}} </td>
            </ng-container>

            <ng-container *ngFor="let column of specKeys; let idx = index" [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef> {{column}} </th>
              <td mat-cell *matCellDef="let element">
                <span>
                  <mat-form-field>
                    <label>
                      <input matInput [(ngModel)]="element.specDetails[idx]" [value]="element.specDetails[idx] || ''">
                    </label>
                  </mat-form-field>
                </span>
              </td>
            </ng-container>

            <ng-container matColumnDef="next_day_dispatch">
              <th mat-header-cell *matHeaderCellDef> Next Day Dispatch </th>
              <td mat-cell *matCellDef="let element">
                <span>
                  <mat-checkbox [(ngModel)]="element.next_day_dispatch" [value]="element.next_day_dispatch"></mat-checkbox>
                </span>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

        <div class="paginator">
          <mat-paginator *ngIf="!loading && dataSource?.data?.length"
                         [pageSizeOptions]="paginationSizes"
                         [pageSize]="defaultPageSize"
                         showFirstLastButtons>
          </mat-paginator>
        </div>

        <article>
          <button *ngIf="!submitBtnLoading else BtnLoading" mat-button (click)="submit()">Submit</button>
          <ng-template #BtnLoading>
            <button mat-button>
              <mat-spinner [diameter]="25"></mat-spinner>
            </button>
          </ng-template>
        </article>
      </ng-container>
      <ng-template #Loading>
        <div class="loading-spinner">
          <mat-spinner [diameter]="50" color="warn"></mat-spinner>
        </div>
      </ng-template>
    </ng-template>
  </section>
</main>
