@import 'variables';
@import 'mixins';

:host {
  main {
    width: 100%;
    height: calc(100vh - 100px);
    @include yaari-display-flex();

    section {
      width: 90%;
      overflow: auto;
      padding: $yaari-base * 2 yaari-to-rem(65px);

      @include media-breakpoint(lt-md) {
        padding: $yaari-small;
      }

      .date-range-form {
        @include media-breakpoint(lt-sm) {
          @include yaari-display-flex(center, center, column);
        }
      }

      .loading-spinner {
        @include yaari-display-flex(center, center);
      }

      .catalogue-name {
        button {
          margin-bottom: -20px;
          margin-left: 0;
          margin-right: 10px;
          min-width: 100px;
          font-size: $yaari-default-small;
          background: $yaari-lighted-text;
        }
      }

      div {
        width: 100%;
        overflow: auto;
        @include yaari-display-flex(center, flex-start);

        &.table-box {
          padding-bottom: $yaari-large;
          padding-top: $yaari-base;
        }

        table {
          width: 100%;

          td, th {
            text-align: center;
            border: 1px solid $yaari-lighted-text;
            min-width: yaari-to-rem(140px);
          }

          th {
            background-color: #efefef;
          }

          th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
            padding-right: 0;
          }

          th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
            padding-left: 0;
          }
        }

        .mat-form-field {
          padding-top: $yaari-small;
        }
      }

      .catalogue-list {
        @include yaari-display-flex(center, center, column);
        padding-top: $yaari-base;
        width: 100%;

        div {

          &.catalog {
            border-bottom: solid 1px #707070;
            width: 70%;
            @include yaari-display-flex(center, space-between);
            padding-bottom: $yaari-small;

            @include media-breakpoint(lt-md) {
              width: 100%;
            }

            @include media-breakpoint(lt-sm) {
              @include yaari-display-flex(center, center, column);
            }
          }


          span {
            font-size: $yaari-default;
            font-weight: bold;
          }

          button {
            font-size: $yaari-default-small;

            &.outlined-btn {
              background-color: $yaari-light;
              color: $yaari-red;
              border: 1px solid $yaari-red;
            }
          }
        }
      }

      article {
        padding-top: $yaari-base * 2;
        @include yaari-display-flex(center, center);
      }

      h3 {
        padding-top: $yaari-base * 2;
        margin: 0;
        font-size: $yaari-h3;
        font-weight: bold;
        line-height: 100%;

        @include media-breakpoint(lt-md) {
          font-size: $yaari-h5;
        }
      }

      h5 {
        padding-top: $yaari-base * 2;
        padding-bottom: $yaari-base;
        margin: 0;
        font-size: $yaari-h5;
        font-weight: normal;
        line-height: 100%;

        @include media-breakpoint(lt-md) {
          font-size: $yaari-h6;
        }
      }

      .red-line {
        width: yaari-to-rem(100px);
        height: $yaari-tiny;
        background: $yaari-red;
      }

      button {
        @include yaari-display-flex(center, center);
        min-width: yaari-to-rem(100px);
        border-radius: 24px;
        background-color: $yaari-red;
        font-size: $yaari-h6;
        color: $yaari-light;
        margin-bottom: $yaari-tiny;
        margin-left: $yaari-large;
      }

    }
  }
}

.paginator {
  margin-top: $yaari-base;
}
