@import 'variables';
@import 'mixins';

:host {
  main {
    width: 100%;
    height: calc(100vh - 100px);
    @include yaari-display-flex();

    section {
      width: 90%;
      padding: $yaari-base * 2 yaari-to-rem(65px);

      .loading-spinner {
        @include yaari-display-flex(center, center);
      }

      .catalogue-name {
        button {
          margin-bottom: -20px;
          margin-left: 0;
          margin-right: 10px;
          min-width: 100px;
          font-size: $yaari-default-small;
          background: $yaari-lighted-text;
        }
      }

      div {
        width: 100%;
        overflow: auto;
        @include yaari-display-flex(center, flex-start);

        table {

          td {
            text-align: center;
            border-right: 1px solid $yaari-lighted-text;
          }

          th {
            text-align: center;
          }

          th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
            padding-right: 0;
          }
        }

        .mat-form-field {
          padding-top: $yaari-small;
        }
      }

      .catalogue-list {
        @include yaari-display-flex(center, center, column);

        div {


          span {
            width: 15%;
            font-size: $yaari-default;
            font-weight: bold;
          }

          button {
            font-size: $yaari-default-small;

            &.outlined-btn {
              background-color: $yaari-light;
              color: $yaari-red;
              border: 1px solid $yaari-red;
            }
          }
        }
      }

      article {
        padding-top: $yaari-base * 2;
        @include yaari-display-flex(center, center);
      }

      h3 {
        padding-top: $yaari-base * 2;
        margin: 0;
        font-size: $yaari-h3;
        font-weight: bold;
        line-height: 100%;
      }

      h5 {
        padding-top: $yaari-base * 2;
        padding-bottom: $yaari-base;
        margin: 0;
        font-size: $yaari-h5;
        font-weight: normal;
        line-height: 100%;
      }

      .red-line {
        width: yaari-to-rem(100px);
        height: $yaari-tiny;
        background: $yaari-red;
      }

      button {
        @include yaari-display-flex(center, center);
        min-width: yaari-to-rem(200px);
        border-radius: 24px;
        background-color: $yaari-red;
        font-size: $yaari-h6;
        color: $yaari-light;
        margin-bottom: $yaari-large / 2;
        margin-left: $yaari-large;
      }

    }
  }
}
