@import 'variables';
@import 'mixins';

:host {
  main {
    width: 100%;
    height: calc(100vh - 100px);
    @include yaari-display-flex();

    &.catalogue-main {
      min-height: yaari-to-rem(750px);
      overflow: auto;
    }

    section {
      width: 50%;

      @include media-breakpoint(lt-md) {
        width: 100%;
      }
    }

    .left-image {
      background-image: url('~src/assets/images/product_catalogue.png');
      background-size: cover;

      @include media-breakpoint(lt-md) {
        display: none;
      }

      h1 {
        padding: $yaari-base * 2 0 $yaari-tiny yaari-to-rem(120px);
        color: $yaari-light;
        margin: 0;
        font-size: $yaari-h1;
        font-weight: bold;
        line-height: 100%;
      }

      .red-line {
        width: yaari-to-rem(100px);
        margin-left: yaari-to-rem(120px);
        height: $yaari-tiny;
        background: $yaari-red;
      }
    }

    .buttons-container {
      @include yaari-display-flex(center, center, column);

      .download-container {
        width: 100%;
        @include yaari-display-flex(center, center);

        section {
          @include yaari-display-flex(center, center, column);

          mat-form-field {
            margin: 0 $yaari-base;

            .mat-form-field-wrapper ::ng-deep {
              margin: 0;
              padding: 0;
            }
          }

          p {
            font-size: $yaari-default-small;
          }
        }
      }

      .download-btn-container {
        width: 100%;
        @include yaari-display-flex(center, center, column);

        .download-btn {
          @include yaari-display-flex(center, center);
          margin-bottom: $yaari-base;
        }
      }

      .upload-section {
        @include yaari-display-flex(center, center, column);
        padding: 0 $yaari-large;
        background: $yaari-lighted;
        width: 70%;
        height: yaari-to-rem(300px);

        img {
          width: yaari-to-rem(160px);
          height: yaari-to-rem(160px);
        }

        h3 {
          color: $yaari-lighted-text;
        }
      }

      button {
        @include yaari-display-flex(center, center);
        border-radius: 24px;
        background-color: $yaari-red;
        font-size: $yaari-h6;
        color: $yaari-light;
        padding: 0 $yaari-large;
        min-width: yaari-to-rem(180px);

        &.outlined-btn {
          background-color: $yaari-light;
          color: $yaari-red;
          border: 1px solid $yaari-red;
        }
      }

      div {
        width: 100%;
        @include yaari-display-flex(center, center);

        &.upload-container {
          @include yaari-display-flex(center, flex-start, column);
          min-height: yaari-to-rem(350px);
        }

        &.form-catalogue-name {

          form {
            @include yaari-display-flex(center);
            width: 100%;
            padding: 0 $yaari-xlarge;

            h4 {
              padding: 0 $yaari-small;
            }

            mat-form-field {
              width: 70%;
            }
          }
        }
      }
    }
  }
}
