<main>
  <section class="left-image">
    <ng-container>
      <h1>Upload Product Catalogue</h1>
      <div class="red-line"></div>
    </ng-container>
  </section>
  <section class="buttons-container">

    <div class="download-container">
      <section>
        <mat-form-field appearance="outline">
          <mat-label>Choose Category</mat-label>
          <mat-select [(ngModel)]="selectedCategory" (ngModelChange)="isSelectedCategory($event)">
            <ng-container *ngIf="getCategories$ | async as categories">
              <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <p>{{selectedCategoryMsg}}</p>
      </section>
      <section class="download-btn">
        <button mat-button (click)="downloadTemplate()">
          <span>Download</span>
        </button>
      </section>
    </div>

    <div class="upload-section" appDnd (fileDropped)="onFileDropped($event)">
      <input type="file" style="display: none" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event.target.files)" />
      <img [src]="'assets/images/drag_files.svg'" alt="drag image here"/>
      <h3>Drag files here or choose browse to select files</h3>
    </div>
    <h3>{{uploadedFile}}</h3>

    <div class="buttons-box">
      <div>
        <button mat-button class="outlined-btn" (click)="fileDropRef.click()">
          <span>Browse</span>
        </button>
      </div>
      <div>
        <button mat-button (click)="upload()">
          <span>Upload</span>
        </button>
      </div>
    </div>
  </section>
</main>
