@import 'variables';
@import 'mixins';

:host {
  main {
    width: 100%;
    height: calc(100vh - 100px);
    @include yaari-display-flex();

    section {
      width: 50%;
    }

    .left-image {
      background-image: url('~src/assets/images/product_catalogue.png');
      background-size: cover;

      h1 {
        padding: $yaari-base * 2 0 $yaari-tiny yaari-to-rem(120px);
        color: $yaari-light;
        margin: 0;
        font-size: $yaari-h1;
        font-weight: bold;
        line-height: 100%;
      }

      .red-line {
        width: yaari-to-rem(100px);
        margin-left: yaari-to-rem(120px);
        height: $yaari-tiny;
        background: $yaari-red;
      }
    }

    .buttons-container {
      @include yaari-display-flex(center, center, column);

      .download-container {
        width: 100%;
        @include yaari-display-flex(center, center);

        section {
          @include yaari-display-flex(center, center, column);

          mat-form-field {
            .mat-form-field-wrapper ::ng-deep {
              margin: 0;
              padding: 0;
            }
          }

          p {
            font-size: $yaari-default-small;
          }

          &.download-btn {
            margin-bottom: $yaari-large;
          }
        }
      }

      .upload-section {
        @include yaari-display-flex(center, center, column);
        padding: 0 $yaari-large;
        background: $yaari-lighted;
        width: 70%;
        height: yaari-to-rem(300px);

        img {
          width: yaari-to-rem(160px);
          height: yaari-to-rem(160px);
        }

        h3 {
          color: $yaari-lighted-text;
        }
      }

      button {
        @include yaari-display-flex(center, space-between);
        height: $yaari-xlarge;
        border-radius: 24px;
        background-color: $yaari-red;
        font-size: $yaari-h6;
        color: $yaari-light;
        margin: $yaari-base 0;
        padding: 0 $yaari-large;

        &.outlined-btn {
          background-color: $yaari-light;
          color: $yaari-red;
          border: 1px solid $yaari-red;
        }
      }

      div {
        width: 100%;
        @include yaari-display-flex(center, center);
      }
    }
  }
}
