

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html, p, h1, h2, h3, h4, h5, ul, ol {
    font-family: 'Poppins', sans-serif;
} 
p {
    font-size: 14px;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
}

footer {
    padding: 5px;
    background-color: #f62101;
    margin-top: 60px;
}

.red-line {
    display: inline-block;
    padding-bottom: 5px;
    position: relative;

  &:before {
      content: "";
      position: absolute;
      height: 1px;
      bottom: 0;
      border-bottom: 5px solid #f62101;
      width:30%;
  }
}
h2.red-line {
    &:before {
        width:48px;
    }
}
h3.red-line {
    &:before {
        width:20px;
    }
}
.small-text {
    font-size: 11px;
}
.text-bold {
    font-weight: bold;
}
.yaari-btn {
    
    border-radius: 10px;
    color: #FFF;
    height: auto;
    padding: 7px 10px;
    line-height: normal;
    max-width: 300px;
    .material-icons {
        font-size: 14px;
        height: 18px;
        width: 14px;
    }
    &.red-btn {
        background-color: #f62101;
    }
    
    &.dashboard-btn {
        width: 100%;
       // height: 80px;
        padding: 10px;
        text-align: left;
        margin-bottom: 30px;
        .material-icons {
            font-size: 40px;
            height: 44px;
            width: 40px;
        }
        &:hover {
            background-color: #848484;
        }
    }
}


    input.yaari-input,
     select.yaari-input, 
     ::ng-deep .mat-form-field-wrapper {
    //width: 100%;
    border: 1px solid #363636;
    border-radius: 10px; 
    padding: 5px 10px;
    max-width: 300px;
    box-sizing:border-box;
        &:focus {
            outline: none;
        }
    }
    ::ng-deep .mat-form-field-wrapper {
        padding: 0;
    }
    ::ng-deep .mat-input-underline, ::ng-deep .mat-form-field-underline {
        display: none;
    }
    
    ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
        background-color: transparent;
    }
    


.fixed-width {
    //max-width: 1440px !important;
    max-width: 1024px !important;
    margin-left: auto;
    margin-right: auto;
    padding-left: 7.375rem;
    padding-right: 7.375rem;
}
@media (max-width: 1024px) {
    .fixed-width {
        padding-left: 4.6875rem;
        padding-right: 4.6875rem;
    }
}

@media (max-width: 850px) {
    .fixed-width {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.fullpage {
    padding: 60px;
}
.dashboard-width, .dashboard-content {
    max-width: 300px;
    width: 100%;
}
.dashboard-content {
    margin: 0 auto;
}


.bg-cover {
    background-size: cover;
    background-position: center top;
}
.bg-100 {
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
}

.logo {
    margin: 20px 80px;
    width: 40px;
}

.top-shadow {
    -moz-box-shadow:    inset 0px 8px 8px -12px #000;
    -webkit-box-shadow: inset 0px 8px 8px -12px #000;
    box-shadow:         inset 0px 8px 8px -12px #000;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-valign {
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .column, .left-col, .right-col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .right-col {
    flex: 2;
    padding: 60px;
  }
  
  
  @media only screen and (max-width: 600px) {
    .row {
        display: block;
    }
    .right-col {
        flex: 2;
        padding: 20px;
      }
  }

.flex-bottom {
    align-self: flex-end;
}

.form-group {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    label {
        display: block;
        margin-bottom: 10px;
        margin-top:20px;
    }
}

.divider {
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
    padding-top:20px;
}


.uploadfilecontainer {
    background-color:#f1f1f1;
    height: 200px;
    width: 100%;
    box-sizing:border-box;
    margin-bottom: 20px;
    .material-icons {
        font-size: 120px;
        color: #919191;
        width: 120px;
        margin: 0 auto;
        display: block;
    }
    p {
        font-size: 10px;
        text-align: center;
    }

}

.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #ccc !important;
    opacity: 0.8;
}

.status-table {
    border: 1px solid #999;
    border-collapse: collapse;
    width: 100%;
    min-width: 500px;
    text-align: center;
    th {
        font-weight: bold;
        background-color: #f2f2f2;
    }
    th, td {
        border: 1px solid #999;
      }
      &::before {
        position: absolute;
        right: 5px;
        top: 0;
        height: 10px;
        width: 63px;
        background: url(/assets/images/swipe.svg);
        background-size: cover;
        content: ""
      }
}

.table-wrapper {
    overflow-x: scroll;
    width: 100%;
    padding-top:20px;
    position: relative;
}

@media only screen and (min-width:768px) {
    .table-wrapper {
        overflow-x: auto;
        box-sizing: border-box;
        padding-top: 0;
    }
    .status-table:before {
        display: none;
    }
}





// ***** Typography Utility classes *******

.text-white {
    color:#FFF;
}

.text-red {
    color: #f62101;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.d-block {
    display: block;
}

// ******* spacing classes ********
.p-20 {
    padding: 20px;
}

.p-40 {
    padding: 40px;
}
.p-60 {
    padding: 60px;
}
.px-20 {
    padding-right: 20px;
    padding-left: 20px;
}
.px-40 {
    padding-right: 40px;
    padding-left: 40px;
}
.px-60 {
    padding-right: 60px;
    padding-left: 60px;
}
.mb-20 {
    margin-bottom:20px;
}
.mb-40 {
    margin-bottom:40px;
}
.mt-40 {
    margin-top:40px;
}
.mt-50 {
    padding-top: 50px;
}
.mx-20 {
    padding-left: 20px;
    padding-right: 20px;
}
.mx-40 {
    padding-left: 40px;
    padding-right: 40px;
}
.my-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.my-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mr-20 {
    margin-right: 20px;
}
.mx-auto {
    margin: 0 auto;
    display: block;
}

.w-100 {
    width: 100%;
}
.w-50 {
    width: 50%;
}