<main>
  <section class="left-image">
    <h1>Let's Get Started</h1>
    <div class="red-line"></div>
  </section>
  <section class="register-container">
    <form [formGroup]="regForm" class="register-form">

      <section>
        <h3>Register</h3>
        <div class="red-line"></div>
      </section>

      <section class="form-fields">
        <div>
          <h4>Business Name<span class="required">*</span></h4>
          <mat-form-field appearance="outline">
            <mat-label>Enter your business name</mat-label>
            <input matInput formControlName="contact_person" autocomplete="nope">
            <mat-error *ngIf="regForm.controls['contact_person'].hasError('required')">Required field</mat-error>
          </mat-form-field>
        </div>

        <div class="radio-buttons">
          <h4>Register as<span class="required">*</span></h4>
          <mat-radio-group class="radio-group" formControlName="type">
            <mat-radio-button *ngFor="let type of types" [value]="type.key">{{type.label}}</mat-radio-button>
          </mat-radio-group>
        </div>

        <div>
          <h4>Email ID<span class="required">*</span></h4>
          <div class="mini-form-group-container">
            <mat-form-field appearance="outline">
              <mat-label>Enter your email address</mat-label>
              <input matInput formControlName="email_id" autocomplete="nope">
              <mat-error *ngIf="regForm.controls['email_id'].hasError('required')">Required field</mat-error>
              <mat-error *ngIf="regForm.controls['email_id'].hasError('email')">Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="regForm.controls['email_id'].hasError('InvalidValue')">Email Verification failed
              </mat-error>
              <mat-hint *ngIf="emailVerificationSuccessful" class="hint-message">Email Verification Successful</mat-hint>
            </mat-form-field>
            <button mat-button (click)="verifyEmail($event)">
              <span *ngIf="!loadingEmailVerification else LoadingSpinner">Verify Email</span>
              <ng-template #LoadingSpinner>
                <mat-spinner [diameter]="25"></mat-spinner>
              </ng-template>
            </button>
          </div>
        </div>

        <div>
          <h4>OTP Number<span class="required">*</span></h4>
          <div class="mini-form-group-container">
            <mat-form-field appearance="outline">
              <mat-label>Enter the OTP Number from your email</mat-label>
              <input matInput formControlName="otp_no" autocomplete="nope">
              <mat-error *ngIf="regForm.controls['otp_no'].hasError('required')">Required field</mat-error>
              <mat-error *ngIf="regForm.controls['otp_no'].hasError('InvalidValue')">OTP Verification failed
              </mat-error>
              <mat-hint *ngIf="otpVerificationSuccessful" class="hint-message">OTP Verification Successful</mat-hint>
            </mat-form-field>
            <button mat-button (click)="verifyOtp($event)">
              <span *ngIf="!loadingOtpVerification else LoadingSpinner">Verify OTP</span>
              <ng-template #LoadingSpinner>
                <mat-spinner [diameter]="25"></mat-spinner>
              </ng-template>
            </button>
          </div>
        </div>

        <div>
          <h4>Phone number<span class="required">*</span></h4>
          <mat-form-field appearance="outline" class="small-form-group">
            <mat-label>Enter your phone number</mat-label>
            <input matInput formControlName="phone_no" autocomplete="nope">
            <mat-error *ngIf="regForm.controls['phone_no'].hasError('required')">Required field</mat-error>
            <mat-error *ngIf="regForm.controls['phone_no'].hasError('invalidNumber')">Please enter only digits
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <h4>City<span class="required">*</span></h4>
          <mat-form-field appearance="outline" class="small-form-group">
            <mat-label>Enter your city</mat-label>
            <input matInput formControlName="city" autocomplete="nope">
            <mat-error *ngIf="regForm.controls['city'].hasError('required')">Required field</mat-error>
            <mat-error *ngIf="regForm.controls['city'].hasError('invalidLetters')">Please enter only letters</mat-error>
          </mat-form-field>
        </div>

        <div>
          <h4>Main Category<span class="required">*</span></h4>
          <mat-form-field appearance="outline" class="small-form-group">
            <mat-label>Enter main category</mat-label>
            <mat-select formControlName="primary_category_id">
              <ng-container *ngIf="categories$ | async as categories">
                <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
              </ng-container>
            </mat-select>
            <mat-error *ngIf="regForm.controls['primary_category_id'].hasError('required')">Required field</mat-error>
          </mat-form-field>
        </div>

        <div class="radio-buttons">
          <h4>Do You Have GST Number?<span class="required">*</span></h4>
          <mat-radio-group class="radio-group" formControlName="has_gst">
            <mat-radio-button [value]="true">Yes</mat-radio-button>
            <mat-radio-button [value]="false">No</mat-radio-button>
          </mat-radio-group>
        </div>

        <div>
          <h4>If Yes Please Enter Your GST Certificate Number And Upload GST Certificate<span
            class="required">*</span></h4>
          <div class="mini-form-group-container">
            <mat-form-field appearance="outline">
              <mat-label>Enter your GST Certificate</mat-label>
              <input matInput formControlName="gst_no" autocomplete="nope">
              <mat-error *ngIf="regForm.controls['gst_no'].hasError('required')">Required field</mat-error>
              <mat-error *ngIf="regForm.controls['gst_no'].hasError('InvalidValue')">GST Verification failed</mat-error>
              <mat-hint *ngIf="gstVerificationSuccessful" class="hint-message">GST Verification Successful</mat-hint>
            </mat-form-field>
            <button mat-button (click)="verifyGst($event)">
              <span *ngIf="!loadingGstVerification else LoadingSpinner">Upload GST Certificate</span>
              <ng-template #LoadingSpinner>
                <mat-spinner [diameter]="25"></mat-spinner>
              </ng-template>
            </button>
          </div>
        </div>

        <div>
          <h4>Enter Your Business PAN Card Number And Upload Business PAN card<span class="required">*</span></h4>
          <div class="mini-form-group-container">
            <mat-form-field appearance="outline">
              <mat-label>Enter your PAN Card</mat-label>
              <input matInput formControlName="pan_no" autocomplete="nope">
              <mat-error *ngIf="regForm.controls['pan_no'].hasError('required')">Required field</mat-error>
              <mat-error *ngIf="regForm.controls['pan_no'].hasError('InvalidValue')">PAN Verification failed</mat-error>
              <mat-hint *ngIf="panVerificationSuccessful" class="hint-message">PAN Verification Successful</mat-hint>
            </mat-form-field>
            <button mat-button (click)="verifyPan($event)">
              <span *ngIf="!loadingPanVerification else LoadingSpinner">Upload PAN Card</span>
              <ng-template #LoadingSpinner>
                <mat-spinner [diameter]="25"></mat-spinner>
              </ng-template>
            </button>
          </div>
        </div>

        <div>
          <h4>Bank Account Name<span class="required">*</span></h4>
          <mat-form-field appearance="outline" class="small-form-group">
            <mat-label>Enter your Bank Account Name</mat-label>
            <input matInput formControlName="bank_account_name" autocomplete="nope">
            <mat-error *ngIf="regForm.controls['bank_account_name'].hasError('required')">Required field</mat-error>
          </mat-form-field>
        </div>

        <div>
          <h4>Bank Account Number<span class="required">*</span></h4>
          <mat-form-field appearance="outline" class="small-form-group">
            <mat-label>Enter your Bank Account Number</mat-label>
            <input matInput formControlName="bank_account_number" autocomplete="nope">
            <mat-error *ngIf="regForm.controls['bank_account_number'].hasError('required')">Required field</mat-error>
            <mat-error *ngIf="regForm.controls['bank_account_number'].hasError('InvalidValue')">Bank Verification
              failed
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <h4>Bank Account Type<span class="required">*</span></h4>
          <mat-form-field appearance="outline" class="small-form-group">
            <mat-label>Enter your Bank Account Type</mat-label>
            <input matInput formControlName="bank_account_type" autocomplete="nope">
            <mat-error *ngIf="regForm.controls['bank_account_type'].hasError('required')">Required field</mat-error>
          </mat-form-field>
        </div>

        <div>
          <h4>Bank Name<span class="required">*</span></h4>
          <mat-form-field appearance="outline" class="small-form-group">
            <mat-label>Enter your Bank Name</mat-label>
            <input matInput formControlName="bank_name" autocomplete="nope">
            <mat-error *ngIf="regForm.controls['bank_name'].hasError('required')">Required field</mat-error>
          </mat-form-field>
        </div>

        <div>
          <h4>Bank IFSC<span class="required">*</span></h4>
          <mat-form-field appearance="outline" class="small-form-group">
            <mat-label>Enter your Bank IFSC</mat-label>
            <input matInput formControlName="bank_ifsc" autocomplete="nope">
            <mat-error *ngIf="regForm.controls['bank_ifsc'].hasError('required')">Required field</mat-error>
          </mat-form-field>
        </div>

        <div>
          <h4>Enter Average Monthy Stock Count You Want To Share On Yaari<span class="required">*</span></h4>
          <mat-form-field appearance="outline" class="small-form-group">
            <mat-label>Please enter number</mat-label>
            <input matInput formControlName="average_monthly_stock" autocomplete="nope">
            <mat-error *ngIf="regForm.controls['average_monthly_stock'].hasError('required')">Required field</mat-error>
            <mat-error *ngIf="regForm.controls['average_monthly_stock'].hasError('invalidNumber')">Please enter only
              digits
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <h4>Select Among Different Price Range<span class="required">*</span></h4>
          <mat-form-field appearance="outline" class="small-form-group">
            <mat-label>Min price</mat-label>
            <input matInput formControlName="price_range_min" autocomplete="nope">
            <mat-error *ngIf="regForm.controls['price_range_min'].hasError('required')">Required field</mat-error>
            <mat-error *ngIf="regForm.controls['price_range_min'].hasError('invalidNumber')">Please enter only digits
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <h4>Select Among Different Price Range<span class="required">*</span></h4>
          <mat-form-field appearance="outline" class="small-form-group">
            <mat-label>Max price</mat-label>
            <input matInput formControlName="price_range_max" autocomplete="nope">
            <mat-error *ngIf="regForm.controls['price_range_max'].hasError('required')">Required field</mat-error>
            <mat-error *ngIf="regForm.controls['price_range_max'].hasError('invalidNumber')">Please enter only digits
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <h4>Password<span class="required">*</span></h4>
          <mat-form-field appearance="outline" class="small-form-group">
            <mat-label>Enter your password</mat-label>
            <input matInput formControlName="password" autocomplete="nope" type="password">
            <mat-error *ngIf="regForm.controls['password'].hasError('required')">Required field</mat-error>
          </mat-form-field>
        </div>

        <div class="form-group submit-btn-container">
          <button mat-button class="btn login-btn" (click)="registerSupplier()">
            <span *ngIf="!loading else LoadingSpinner">Submit</span>
            <ng-template #LoadingSpinner>
              <mat-spinner [diameter]="25"></mat-spinner>
            </ng-template>
          </button>
        </div>

      </section>
    </form>
  </section>
</main>
