<main>
  <section class="left-image">
    <h1>Let's Get Started</h1>
    <div class="red-line"></div>
  </section>
  <section class="register-container">
    <form [formGroup]="regForm" (ngSubmit)="registerSupplier()" class="register-form">

      <section>
        <h3>Register</h3>
        <div class="red-line"></div>
      </section>

      <section class="form-fields">
        <div>
          <h4>Business Name<span class="required">*</span></h4>
          <mat-form-field appearance="outline">
            <mat-label>Enter your business name</mat-label>
            <input matInput formControlName="contact_person" autocomplete="nope">
            <mat-error *ngIf="regForm.controls['contact_person'].hasError('required')">Required field</mat-error>
          </mat-form-field>
        </div>

        <div class="radio-buttons">
          <h4>Register as<span class="required">*</span></h4>
          <mat-radio-group class="radio-group" formControlName="type">
            <mat-radio-button *ngFor="let type of types" [value]="type.key">{{type.label}}</mat-radio-button>
          </mat-radio-group>
        </div>

        <div>
          <h4>Email ID<span class="required">*</span></h4>
          <mat-form-field appearance="outline">
            <mat-label>Enter your email address</mat-label>
            <input matInput formControlName="email_id" autocomplete="nope">
            <mat-error *ngIf="regForm.controls['email_id'].hasError('required')">Required field</mat-error>
            <mat-error *ngIf="regForm.controls['email_id'].hasError('email')">Please enter a valid email address</mat-error>
          </mat-form-field>
        </div>

        <div>
          <h4>Phone number<span class="required">*</span></h4>
          <mat-form-field appearance="outline" class="small-form-group">
            <mat-label>Enter your phone number</mat-label>
            <input matInput formControlName="phone_no" autocomplete="nope">
            <mat-error *ngIf="regForm.controls['phone_no'].hasError('required')">Required field</mat-error>
            <mat-error *ngIf="regForm.controls['phone_no'].hasError('invalidNumber')">Please enter only numbers</mat-error>
          </mat-form-field>
        </div>

        <div>
          <h4>City<span class="required">*</span></h4>
          <mat-form-field appearance="outline" class="small-form-group">
            <mat-label>Enter your city</mat-label>
            <input matInput formControlName="city" autocomplete="nope">
            <mat-error *ngIf="regForm.controls['city'].hasError('required')">Required field</mat-error>
            <mat-error *ngIf="regForm.controls['city'].hasError('invalidLetters')">Please enter only letters</mat-error>
          </mat-form-field>
        </div>

        <div>
          <h4>Main Category<span class="required">*</span></h4>
          <mat-form-field appearance="outline" class="small-form-group">
            <mat-label>Enter main category</mat-label>
            <mat-select formControlName="primary_category_id">
              <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="regForm.controls['primary_category_id'].hasError('required')">Required field</mat-error>
          </mat-form-field>
        </div>

        <div class="radio-buttons">
          <h4>Do You Have GST Number?<span class="required">*</span></h4>
          <mat-radio-group class="radio-group" formControlName="has_gst">
            <mat-radio-button [value]="true">Yes</mat-radio-button>
            <mat-radio-button [value]="false">No</mat-radio-button>
          </mat-radio-group>
        </div>

        <div>
          <h4>Enter Average Monthy Stock Count You Want To Share On Yaari<span class="required">*</span></h4>
          <mat-form-field appearance="outline" class="small-form-group">
            <mat-label>Please enter number</mat-label>
            <input matInput formControlName="average_monthly_stock" autocomplete="nope">
            <mat-error *ngIf="regForm.controls['average_monthly_stock'].hasError('required')">Required field</mat-error>
            <mat-error *ngIf="regForm.controls['average_monthly_stock'].hasError('invalidNumber')">Please enter only numbers</mat-error>
          </mat-form-field>
        </div>

        <div>
          <h4>Select Among Different Price Range<span class="required">*</span></h4>
          <mat-form-field appearance="outline" class="small-form-group">
            <mat-label>Min price</mat-label>
            <input matInput formControlName="price_range_min" autocomplete="nope">
            <mat-error *ngIf="regForm.controls['price_range_min'].hasError('required')">Required field</mat-error>
            <mat-error *ngIf="regForm.controls['price_range_min'].hasError('invalidNumber')">Please enter only numbers</mat-error>
          </mat-form-field>
        </div>

        <div>
          <h4>Select Among Different Price Range<span class="required">*</span></h4>
          <mat-form-field appearance="outline" class="small-form-group">
            <mat-label>Max price</mat-label>
            <input matInput formControlName="price_range_max" autocomplete="nope">
            <mat-error *ngIf="regForm.controls['price_range_max'].hasError('required')">Required field</mat-error>
            <mat-error *ngIf="regForm.controls['price_range_max'].hasError('invalidNumber')">Please enter only numbers</mat-error>
          </mat-form-field>
        </div>

        <div class="form-group submit-btn-container">
          <button mat-button [disabled]="!regForm.valid" class="btn login-btn">Submit</button>
        </div>

      </section>
    </form>
  </section>
</main>

<!--

<h4 class="text-center mt-50">************************************* REGISTER PAGE
    ************************************************</h4>


<div class="fixed-width">

    <header>
        <img class="logo" src="/assets/images/yaari-logo.png">
    </header>
</div>

<div class="content-container top-shadow">

    <div class="fixed-width">

        <div class="row">
            <div class="left-col bg-100 p-60" style="background-image: url(/assets/images/yaari-man2.jpg);">
                <h2 class="text-white red-line">Let's get Started</h2>
            </div>
            <div class="right-col">


                <h3 class="red-line">Register</h3>


                <div class="form-group">

                    <label for="business">Business Name<span class="text-red">*</span> </label>

                    <input class="yaari-input mb-20 w-100" matInput placeholder="Business Name"
                        formControlName="business" required>




                    <label for="businessType">Register As<span class="text-red">*</span></label>
                    <mat-radio-group aria-label="Register As">
                        <mat-radio-button class="mr-20" value="Retailer">Retailer</mat-radio-button>
                        <mat-radio-button class="mr-20" value="Manufacturer">Manufacturer</mat-radio-button>
                        <mat-radio-button value="Wholesaler">Wholesaler</mat-radio-button>
                    </mat-radio-group>



                    <label for="Email">Email ID<span class="text-red">*</span></label>





                    <input class="yaari-input mr-20" matInput placeholder="email address" formControlName="email"
                        required>

                    <button mat-button class="yaari-btn red-btn">Verify Email</button>

                    <label for="phone">Phone Number<span class="text-red">*</span></label>

                    <input class="yaari-input " matInput placeholder="Phone number" formControlName="phone" required>




                    <div class="row">
                        <div class="column">
                            <label for="State">State<span class="text-red">*</span></label>

                            <select class="yaari-input  mr-20" name="state" id="state" matNativeControl required>
                                <option value=""></option>
                                <option value="state1">state1</option>
                                <option value="state2">state2</option>
                                <option value="state3">state3</option>
                            </select>


                        </div>
                        <div class="column">
                            <label for="City">City<span class="text-red">*</span></label>

                            <select class="yaari-input " name="city" id="city" matNativeControl required>
                                <option value=""></option>
                                <option value="city1">city1</option>
                                <option value="city2">city2</option>
                                <option value="city3">city3</option>
                            </select>


                        </div>

                    </div>

                    <label for="mainCategory">Main Category<span class="text-red">*</span></label>

                    <select class="yaari-input " name="mainCategory" id="mainCategory" matNativeControl required>
                        <option value=""></option>
                        <option value="cat1">cat1</option>
                        <option value="cat2">cat2</option>
                    </select>



                    <label for="GST">Do you have a GST number?<span class="text-red">*</span></label>
                    <mat-radio-group aria-label="GST">
                        <mat-radio-button class="mr-20" value="Yes">Yes</mat-radio-button>
                        <mat-radio-button value="No">No</mat-radio-button>
                    </mat-radio-group>

                    <label for="GSTnumber">If Yes Please Enter Your GST Certificate Number
                        And Upload GST Certificate<span class="text-red">*</span></label>


                    <input class="yaari-input mr-20" matInput formControlName="GSTnumber" required>

                    <button mat-button class="yaari-btn red-btn">Upload GST Certificate</button>



                    <label for="PANcard">Enter Your Business PAN Card Number And Upload
                        Business PAN card<span class="text-red">*</span></label>

                    <input class="yaari-input mr-20" matInput formControlName="PANcard" required>

                    <button mat-button class="yaari-btn red-btn">Upload PAN Card</button>



                    <label for="stockCount">Enter Average Monthly Stock Count You Want
                        To Share On Yaari<span class="text-red">*</span></label>


                    <mat-radio-group aria-label="stockCount">
                        <mat-radio-button class="mx-20" value="less100">Less than 100</mat-radio-button>
                        <mat-radio-button class="mx-20" value="more100">More than 100</mat-radio-button>
                    </mat-radio-group>


                    <label for="priceRange">Select Among Different Price Range<span class="text-red">*</span></label>


                    <mat-radio-group aria-label="priceRange">
                        <mat-radio-button class="mx-20 d-block" value="less100">Less than 250
                        </mat-radio-button>
                        <mat-radio-button class="mx-20 d-block" value="more100">Between 250 to 500
                        </mat-radio-button>
                        <mat-radio-button class="mx-20 d-block" value="more100">Between 500 to 700
                        </mat-radio-button>
                    </mat-radio-group>


                    <p class="text-bold mt-40">More Information</p>



                    <label for="bank">Bank Name<span class="text-red">*</span></label>

                    <select class="yaari-input w-100" name="bank" id="bank" matNativeControl required>
                        <option value=""></option>
                        <option value="Bank1">Bank1</option>
                        <option value="Bank2">Bank2</option>
                    </select>




                    <label for="IFSC">IFSC code<span class="text-red">*</span></label>

                    <input class="yaari-input w-100" matInput formControlName="IFSC" required>




                    <label for="cheque">Upload Cancelled Cheque<span class="text-red">*</span></label>

                    <button mat-button class="yaari-btn red-btn px-60 w-100 mb-40">
                        <span class="material-icons">
                            add_a_photo
                        </span>
                        Upload Picture
                    </button>

                    <div class="dashboard-width">
                        <button mat-button class="yaari-btn red-btn px-60 mx-auto">
                            Submit
                        </button>
                    </div>


                </div>
            </div>

        </div>
    </div>

</div>

<h4 class="text-center mt-50">************************************* Upload product / dashboard
    ************************************************</h4>


<div class="fixed-width">

    <header>
        <img class="logo" src="/assets/images/yaari-logo.png">
    </header>
</div>

<div class="content-container top-shadow">

    <div class="fixed-width">

        <div class="row">
            <div class="left-col bg-100 p-60" style="background-image: url(/assets/images/yaari-flyer.jpg);">
                &lt;!&ndash; <h2 class="text-white red-line">Welcome</h2> &ndash;&gt;
            </div>
            <div class="right-col">
                <div class="dashboard-content">

                    <button mat-button class="yaari-btn red-btn dashboard-btn ">
                        <span class="material-icons">
                            note_add
                        </span>
                        Upload Product Catalogue
                    </button>

                    <button mat-button class="yaari-btn red-btn dashboard-btn">
                        <span class="material-icons">
                            dashboard
                        </span>
                        Dashboard
                    </button>
                </div>

            </div>
        </div>


    </div>
</div>



<h4 class="text-center mt-50">************************************* Upload product Catalogue
    ************************************************</h4>


<div class="fixed-width">

    <header>
        <img class="logo" src="/assets/images/yaari-logo.png">
    </header>
</div>

<div class="content-container top-shadow">

    <div class="fixed-width">

        <div class="row">
            <div class="left-col bg-100 p-60" style="background-image: url(/assets/images/photographer.jpg);">
                <h2 class="text-white red-line">Upload Product Catalogue</h2>
            </div>
            <div class="right-col">
                <div class="dashboard-content">

                    <div class="flex-space-between">

                        <select class="yaari-input " name="template" id="template" matNativeControl required>
                            <option value="">Choose Template</option>
                            <option value="template1">template1</option>
                            <option value="template2">template2</option>
                        </select>

                        <button mat-button class="yaari-btn red-btn px-20">
                            Download
                        </button>
                    </div>
                    <div class="divider"></div>

                    <mat-card class="uploadfilecontainer">
                        <span class="material-icons">
                            add_a_photo
                        </span>
                        <p>Drag files here or choose browse to select files</p>
                    </mat-card>


                    <div class="flex-space-between">
                        <button mat-button class="yaari-btn red-btn px-20">
                            Browse
                        </button>
                        <button mat-button class="yaari-btn red-btn px-20">
                            Upload
                        </button>
                    </div>

                </div>

            </div>
        </div>


    </div>
</div>








<h4 class="text-center mt-50">************************************* Dashboard
    ************************************************</h4>


<div class="fixed-width">

    <header>
        <img class="logo" src="/assets/images/yaari-logo.png">
    </header>
</div>

<div class="content-container top-shadow">

    <div class="fixed-width">

        <div class="row">
            <div class="left-col bg-100 p-60"
                style="background-image: url(https://via.placeholder.com/800?text=Dashboard+image+placeholder);">



                <h2 class="text-white red-line">Dashboard</h2>
            </div>
            <div class="right-col">
                <div class="dashboard-content">


                    <button mat-button class="yaari-btn red-btn dashboard-btn ">
                        Payments
                    </button>
                    <button mat-button class="yaari-btn red-btn dashboard-btn ">
                        Catalogue Status
                    </button>
                    <button mat-button class="yaari-btn red-btn dashboard-btn ">
                        Ratings & Reviews
                    </button>
                    <button mat-button class="yaari-btn red-btn dashboard-btn ">
                        Quality Scorecard
                    </button>
                    <button mat-button class="yaari-btn red-btn dashboard-btn">
                        Exchange & Returns
                    </button>
                </div>

            </div>
        </div>


    </div>
</div>






<h4 class="text-center mt-50">************************************* catalogue status
    ************************************************</h4>


<div class="fixed-width">

    <header>
        <img class="logo" src="/assets/images/yaari-logo.png">
    </header>
</div>

<div class="content-container top-shadow">

    <div class="fixed-width fullpage">


        <h2 class="red-line">Catalogue Status</h2>

        <p>Select Date Range</p>
        <mat-form-field appearance="fill" class="mr-20">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <button mat-button class="yaari-btn red-btn px-20 mb-40">
            View
        </button>

        <div class="table-wrapper">
            <table class="status-table" cellspacing="0" cellpadding="5">
                <tr>
                    <th>Sr. No</th>
                    <th>Catalogue ID</th>
                    <th>Type of Product</th>
                    <th>Date Uploaded</th>
                    <th>Status</th>
                    <th>Views</th>
                    <th>No. of Shares</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Kurti</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Saree</td>
                    <td></td>
                    <td>Uploaded</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Dress Material</td>
                    <td></td>
                    <td>Pending approval</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Shirt</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Pant</td>
                    <td></td>
                    <td>Rejected</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

    </div>
</div>







<h4 class="text-center mt-50">************************************* Payment status
    ************************************************</h4>


<div class="fixed-width">

    <header>
        <img class="logo" src="/assets/images/yaari-logo.png">
    </header>
</div>

<div class="content-container top-shadow">

    <div class="fixed-width fullpage">


        <h2 class="red-line">Payments</h2>

        <p>Select Date Range</p>
        <mat-form-field appearance="fill" class="mr-20">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <button mat-button class="yaari-btn red-btn px-20 mb-40">
            View
        </button>

        <div class="table-wrapper">
            <table class="status-table" cellspacing="0" cellpadding="5">
                <tr>
                    <th>Sr. No</th>
                    <th>Order ID</th>
                    <th>SKU Number</th>
                    <th>Type of Product</th>
                    <th>Date Sold</th>
                    <th>Date Shipped</th>
                    <th>Order Status</th>
                    <th>Payment Mode</th>
                    <th>Payment Status</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Sold</td>
                    <td>COD</td>
                    <td>In Process</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Returned</td>
                    <td>Online</td>
                    <td>Completed</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Exchanged</td>
                    <td></td>
                    <td>Not Applicable</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Canceled</td>
                    <td></td>
                    <td>Penalty</td>
                </tr>

            </table>
        </div>

    </div>
</div>

&lt;!&ndash; ********** Footer ******** &ndash;&gt;
<footer>
    <div class="fixed-width">
        <p class="text-white">Footer content - Copyright ©
            <script type="text/javascript">
                var d = new Date()
                document.write(d.getFullYear())
            </script>2021
            Yaari
        </p>
    </div>
</footer>
-->
