:host {
  .login {
    font: Poppins;
  }

  .logo-div {
    position: absolute;
    display: flex;
    width: 50%;
  }
  .left-image {
    width: 100%;
    height: 100%;
    margin: 0px 154px 0px 0px;
    object-fit: contain;
  }
  .login-container {
    position: absolute;
    margin-left: 58%;
    width: 50%;
    height: auto;
  }

  .form-div {
    margin-top: 150px;
  }
  .field-350 {
    width: 350px;
  }
  .signin {
    width: 150px;
    height: 40px;
    color: #ffffff;
    font-weight: 500;
    margin: 35px 33px 149px 41px;
    border-radius: 24px;
    background-color: #f62101;
    text-align: center;
    font-family: Poppins;
  }
  .sign-div {
    text-align: center;
  }

  .spinner {
    margin: auto;
  }
  .error-success {
    margin: 25px 0px -10px 15px;
  }

  .forgot {
    text-align: right;
    margin-top: 10px;
    color: #0000ee;
    font-family: Poppins;
  }

  ::ng-deep .drpdwn .mat-form-field-wrapper {
    background-color: #efefef;
    border-radius: 12px;
    padding: 3px 13px 10px;
  }

  ::ng-deep .login-password-field .mat-form-field-wrapper {
    border: solid 2px #363636;
    border-radius: 12px;
    padding: 3px 13px 10px;
  }

  ::ng-deep .invalid-field .mat-form-field-wrapper {
    border: solid 2px #f62101;
    border-radius: 12px;
    padding: 3px 13px 10px;
  }
  ::ng-deep .login-password-field .mat-form-field-suffix {
    margin-top: -5px;
  }

  ::ng-deep .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
    top: -2px;
  }

  ::ng-deep .mat-form-field {
    font-family: Poppins;
  }

  .labels {
    margin: 30px 0px 10px 15px;
    color: #363636;
    font-weight: 500 !important;
    font-family: Poppins;
  }

  .error {
    margin-top: 20px;
    font-family: Poppins;
  }
}
