<div class="main-body">
    <div>
        <h2 class="head">Update Pricing</h2>
    </div>
    <div class="search">
        <form>
            <mat-form-field floatLabel="never" appearance="none" class="form-field">
                <input (keyup.enter)="search(filter)" [(ngModel)]="filter" matInput
                       name="search" placeholder="Search by Catalogue Name">
            </mat-form-field>
            <button mat-button type="submit" class="search-button" (click)="search(filter)">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-button type="button" class="nav-button" (click)="getPricingCatalogues()"
                [disabled]="dataSource?.data?.length < 20">Next</button>
            <button mat-button type="button" class="nav-button" (click)="getPricingCatalogues(false)"
                [disabled]="currentPage==1">Prev</button>
        </form>
    </div>


    <div class="main-table" *ngIf="!loading && dataSource?.data?.length">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="catalogue_name" sticky>
                <th mat-header-cell *matHeaderCellDef>Catalogue Name</th>
                <td mat-cell *matCellDef="let element; let i = index"><a
                        [routerLink]="['products',{id:element['id'],name:element['catalogue_name']}]">{{element["catalogue_name"]}}</a>
                </td>
            </ng-container>
            <ng-container matColumnDef="supplier_business_name">
                <th mat-header-cell *matHeaderCellDef style="max-height: 30px;">Supplier Business Name</th>
                <td mat-cell *matCellDef="let element">{{element["supplier_business_name"]}}</td>
            </ng-container>
            <ng-container matColumnDef="product_count">
                <th mat-header-cell *matHeaderCellDef>Product Count</th>
                <td mat-cell *matCellDef="let element">{{element["product_count"]}}</td>
            </ng-container>
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>Product Category</th>
                <td mat-cell *matCellDef="let element">{{element["category"]}}</td>
            </ng-container>
            <ng-container matColumnDef="uploaded_by">
                <th mat-header-cell *matHeaderCellDef>Uploaded By</th>
                <td mat-cell *matCellDef="let element">{{element["uploaded_by"]}}</td>
            </ng-container>
            <ng-container matColumnDef="uploaded_date">
                <th mat-header-cell *matHeaderCellDef>Uploaded Date</th>
                <td mat-cell *matCellDef="let element">{{element["uploaded_date"]}}</td>
            </ng-container>
            <ng-container matColumnDef="approved_by">
                <th mat-header-cell *matHeaderCellDef>Approved By</th>
                <td mat-cell *matCellDef="let element">{{element["approved_by"]}}</td>
            </ng-container>
            <ng-container matColumnDef="approved_date">
                <th mat-header-cell *matHeaderCellDef>Approved Date</th>
                <td mat-cell *matCellDef="let element">{{element["approved_date"]}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div *ngIf="loading" class="centered">
        <mat-spinner color="warn" [diameter]="50"></mat-spinner>
    </div>
    <div *ngIf="!loading && !dataSource?.data?.length" class="centered">
        <p>Oops, nothing found.</p>
    </div>
</div>
