<mat-drawer-container class="mat-drawer-container" [hasBackdrop]="false">
  <mat-drawer #drawer mode="over" position="end">
    <div class="general-menu">
      <div class="my-profile">
        <section></section>
        <section>
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>close</mat-icon>
          </button>
        </section>
      </div>
      <div class="button-container">
        <button [routerLink]="['/']" mat-button (click)="drawer.toggle()">
          <span>Home</span>
        </button>
      </div>
      <ng-container *ngIf="(menu$ | async) as menu">
        <ng-container *ngFor="let item of menu">
          <div class="button-container">
            <button [routerLink]="[item.url]" mat-button (click)="drawer.toggle()">
              <span>{{ item.label }}</span>
            </button>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <header>
      <div class="logo">
        <img src="/assets/images/yaari-logo.png" alt="yaari-logo" [routerLink]="['/']"/>
        <p *ngIf="adminDetails$ | async as adminDetails">
          <span class="underline-span">Hi</span>
          <span>{{adminDetails?.first_name | titlecase }}</span>
        </p>
      </div>
      <div *ngIf="adminDetails$ | async">
        <button [routerLink]="['/admin/contact-us']" mat-button>
          <span>Contact Us</span>
        </button>
        <button mat-button class="logout" (click)="logout()">
          <span>Log Out</span>
        </button>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </header>
    <section class="outlet-section">
      <router-outlet></router-outlet>
    </section>
  </mat-drawer-content>
</mat-drawer-container>



