<main>
  <section class="left-image">
    <h1>Contact Us</h1>
    <div class="red-line"></div>
  </section>
  <section class="content-container">
    <h4>Tower 1, 19th Floor, Indiabulls Finance Center Senapati Bapat Marg, Elphinstone Road (W) Mumbai Maharashtra - 400013</h4>

    <h4>Email Us At: <span>helpme@yaari.com</span></h4>

    <h4>Call Us At: <span>1800 256 2657</span></h4>
    <div class="separator"></div>

    <h4>Indiabulls Integrated Services Limited CIN: L51101DL2007PLC166209</h4>

    <h4>Registered office: Plot No. 448-451, Udyog Vihar, Phase-V, Gurugram-122016</h4>
  </section>
</main>
