<main>
  <section>
    <h3>Supplier Complaints</h3>
    <div class="red-line"></div>

    <div>
      <app-error-success [errors]="isError$ | async"></app-error-success>
    </div>

    <div *ngIf="!loading && dataSource?.data?.length" class="table-box">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="contact_person">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Business Name </th>
          <td mat-cell *matCellDef="let element"> {{element?.supplier?.contact_person}} </td>
        </ng-container>

        <ng-container matColumnDef="email_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email ID </th>
          <td mat-cell *matCellDef="let element"> {{element?.supplier?.email_id}} </td>
        </ng-container>

        <ng-container matColumnDef="phone_no">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
          <td mat-cell *matCellDef="let element"> {{element?.supplier?.phone_no}} </td>
        </ng-container>

        <ng-container matColumnDef="rating">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Average Review/Rating </th>
          <td mat-cell *matCellDef="let element"> {{element?.supplier?.rating}} </td>
        </ng-container>

        <ng-container matColumnDef="grievance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Grievances </th>
          <td mat-cell *matCellDef="let element"> {{element?.grievance}} </td>
        </ng-container>

        <ng-container matColumnDef="handeling_team">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Team Handling The Grievances </th>
          <td mat-cell *matCellDef="let element"> {{element?.handeling_team}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div *ngIf="loading" class="centered">
      <mat-spinner color="warn" [diameter]="50"></mat-spinner>
    </div>
  </section>
</main>
