<mat-drawer-container class="mat-drawer-container" [hasBackdrop]="false">
  <mat-drawer #drawer mode="over" position="end">
    <div class="general-menu">
      <div class="my-profile">
        <section>
          <ng-container *ngIf="supplierDetails$ | async as supplierDetails">
            <ng-container *ngIf="!supplierDetails?.profile_image; else defaultUserImage">
              <img [src]="supplierDetails.profile_image" alt="user image"/>
            </ng-container>
            <ng-template #defaultUserImage>
              <img [src]="defaultImage" alt="user image"/>
            </ng-template>
          </ng-container>
          <div>
            <p>{{(supplierDetails$ | async)?.contact_person || ''}}</p>
            <button [routerLink]="['/app/profile/edit']" mat-button (click)="drawer.toggle()">View Profile</button>
          </div>
        </section>
        <section>
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>close</mat-icon>
          </button>
        </section>
      </div>
      <div class="button-container">
        <button [routerLink]="['/app/dashboard']" mat-button (click)="drawer.toggle()">
          <span>Home</span>
        </button>
      </div>
      <div class="button-container">
        <button [routerLink]="['/app/product/catalogue']" mat-button (click)="drawer.toggle()">
          <span>Upload Product Catalogue</span>
        </button>
      </div>
      <div class="button-container">
        <button [routerLink]="['/app/product/specification']" mat-button (click)="drawer.toggle()">
          <span>Update Product Specification</span>
        </button>
      </div>
      <div class="button-container" [ngClass]="isMenuOpened ? 'isMenuOpened' : ''">
        <button mat-button (click)="isMenuOpened = !isMenuOpened">
          <span>Dashboard</span>
          <mat-icon *ngIf="!isMenuOpened">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="isMenuOpened">keyboard_arrow_up</mat-icon>
        </button>
      </div>
      <div *ngIf="isMenuOpened" class="dashboard-menu">
        <button [routerLink]="['/app/profile/payments']" mat-button (click)="drawer.toggle()">
          <span>Payments</span>
        </button>
        <button [routerLink]="['/app/product/catalogue-status']" mat-button (click)="drawer.toggle()">
          <span>Catalogue Status</span>
        </button>
        <button [routerLink]="['/app/profile/rating-and-reviews']" mat-button (click)="drawer.toggle()">
          <span>Ratings & Reviews</span>
        </button>
        <button [routerLink]="['/app/profile/quality-score-card']" mat-button (click)="drawer.toggle()">
          <span>Quality Scorecard</span>
        </button>
        <button [routerLink]="['/app/profile/exchange-return']" mat-button (click)="drawer.toggle()">
          <span>Exchange & Returns</span>
        </button>
      </div>
      <div class="dashboard-button"></div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <header>
      <div class="logo">
        <img src="/assets/images/yaari-logo.png" alt="yaari-logo" [routerLink]="['/app/dashboard']"/>
        <p *ngIf="supplierDetails$ | async as supplierDetails">
          <span class="underline-span">Hi</span>
          <span>{{supplierDetails?.contact_person}}</span>
        </p>
      </div>
      <div>
        <button [routerLink]="['/app/profile/contact-us']" mat-button>
          <span>Contact Us</span>
        </button>
        <button mat-button class="logout" (click)="logout()">
          <span>Log Out</span>
        </button>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </header>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
