@import 'variables';
@import 'mixins';

:host {
  header {
    @include yaari-display-flex(center, space-between);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    height: $header-height;
    padding: 0 $yaari-large * 2;

    div {

      &.logo {
        @include yaari-display-flex(center, flex-start);

        img {
          margin: $yaari-large / 2 0;
          width: $yaari-large;
          cursor: pointer;
        }

        p {
          margin: 0 $yaari-xlarge;

          span {
            font-size: $yaari-h4;


            &.underline-span {
              margin: 0 $yaari-small;
              border-bottom: 5px solid $yaari-red;
            }
          }
        }


      }



      .logout {
        border-radius: 24px;
        font-size: $yaari-h6;
        background-color: $yaari-light;
        color: $yaari-red;
        border: 1px solid $yaari-red;
        margin: 0 $yaari-large / 2;
      }
    }
  }
}


.general-menu {
  background: $yaari-red;
  color: $yaari-light;

  button {
    @include yaari-display-flex(flex-start, flex-start, column);
    width: 100%;
  }
}
