<main>
  <section *ngIf="loading" class="centered">
    <mat-spinner color="warn" [diameter]="50"></mat-spinner>
  </section>
  <section *ngIf="!loading" class="left-image"
           [ngStyle]="{'background-image': (profileImage) ? 'url(' + profileImage + ')' : ''}">
    <input type="file" style="display: none" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event.target.files)" />
    <button mat-button (click)="fileDropRef.click()">
      <span>Upload Profile Picture</span>
    </button>
  </section>
  <section *ngIf="!loading" class="register-container">
    <form [formGroup]="regForm" class="register-form">

      <div class="title-section">
        <section>
          <h3>Your Profile</h3>
          <div class="red-line"></div>
        </section>
        <button *ngIf="!isEditEnabled" mat-button (click)="enableEditing()">
          <mat-icon>edit</mat-icon>
          Edit Profile
        </button>
        <button *ngIf="isEditEnabled" mat-icon-button (click)="disableEditing()">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <section class="form-fields">
        <div>
          <h4>Name<span class="required">*</span></h4>
          <mat-form-field appearance="outline">
            <input matInput formControlName="contact_person" autocomplete="nope">
            <mat-error *ngIf="regForm.controls['contact_person'].hasError('required')">Required field</mat-error>
          </mat-form-field>
        </div>

        <div>
          <h4>Email ID<span class="required">*</span></h4>
          <div>
            <mat-form-field appearance="outline">
              <input matInput formControlName="email_id" autocomplete="nope">
              <mat-error *ngIf="regForm.controls['email_id'].hasError('required')">Required field</mat-error>
              <mat-error *ngIf="regForm.controls['email_id'].hasError('email')">Please enter a valid email address
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div>
          <h4>Phone number<span class="required">*</span></h4>
          <mat-form-field appearance="outline">
            <input matInput formControlName="phone_no" autocomplete="nope">
            <mat-error *ngIf="regForm.controls['phone_no'].hasError('required')">Required field</mat-error>
            <mat-error *ngIf="regForm.controls['phone_no'].hasError('invalidNumber')">Please enter only digits
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <h4>GST Number</h4>
          <mat-form-field appearance="outline">
            <input matInput formControlName="gst_no" autocomplete="nope">
          </mat-form-field>
        </div>

        <div>
          <h4>PAN Name</h4>
          <mat-form-field appearance="outline">
            <input matInput formControlName="name_pan_card" autocomplete="nope">
          </mat-form-field>
        </div>

        <div>
          <h4>PAN Number</h4>
          <mat-form-field appearance="outline">
            <input matInput formControlName="pan_no" autocomplete="nope">
          </mat-form-field>
        </div>

        <div class="radio-buttons">
          <h4>Type<span class="required">*</span></h4>
          <mat-radio-group class="radio-group" formControlName="type">
            <mat-radio-button *ngFor="let type of types" [value]="type.key">{{type.label}}</mat-radio-button>
          </mat-radio-group>
        </div>

        <div>
          <h4>Main Category<span class="required">*</span></h4>
          <mat-form-field appearance="outline" class="small-form-group">
            <mat-select formControlName="primary_category_id">
              <ng-container *ngIf="categories$ | async as categories">
                <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
              </ng-container>
            </mat-select>
            <mat-error *ngIf="regForm.controls['primary_category_id'].hasError('required')">Required field</mat-error>
          </mat-form-field>
        </div>


        <div>
          <h4>Account Holder's Name</h4>
          <mat-form-field appearance="outline">
            <input matInput formControlName="bank_account_name" autocomplete="nope">
          </mat-form-field>
        </div>

        <div>
          <h4>Account Number</h4>
          <mat-form-field appearance="outline">
            <input matInput formControlName="bank_account_number" autocomplete="nope">
          </mat-form-field>
        </div>

        <div>
          <h4>Bank Name</h4>
          <mat-form-field appearance="outline">
            <input matInput formControlName="bank_name" autocomplete="nope">
          </mat-form-field>
        </div>

        <div>
          <h4>IFSC Code</h4>
          <mat-form-field appearance="outline">
            <input matInput formControlName="bank_ifsc" autocomplete="nope">
          </mat-form-field>
        </div>

        <div>
          <app-error-success [errors]="isAuthError$ | async"></app-error-success>
        </div>

        <div *ngIf="isEditEnabled" class="form-group submit-btn-container">
          <button mat-button class="btn login-btn" (click)="registerSupplier()">
            <span *ngIf="!loading else LoadingSpinner">Submit</span>
            <ng-template #LoadingSpinner>
              <mat-spinner [diameter]="25"></mat-spinner>
            </ng-template>
          </button>
        </div>

      </section>
    </form>
  </section>
</main>
