<div class="main-body">
  <div>
    <h2 class="head">Manage Queries</h2>
  </div>
  <div class="search">
    <mat-form-field appearance="none" class="form-field" floatLabel="never">
      <input matInput placeholder="Search By Name or ID">
    </mat-form-field>
    <button class="search-button" mat-button type="button">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div class="card">
    <p>
      s-ABC123
    </p>
    <h5 class="item">ABC Textiles</h5>

  </div>
  <!-- HTML extension generates snippets only for assets and tags like h1, h2. Learn more: https://zpl.io/html-extension -->
</div>
