@import 'src/@yaari/styles/lib/variables';
@import 'src/@yaari/styles/lib/mixins';

:host {
  main {
    width: 100%;
    height: calc(100vh - 100px);
    overflow: auto;
    @include yaari-display-flex();

    section {
      width: 100%;
      padding: $yaari-base * 2 yaari-to-rem(120px);

      @include media-breakpoint(lt-md) {
        padding: $yaari-small;
      }

      div {
        width: 100%;
        @include yaari-display-flex(center, flex-start);

        &.table-box {
          padding-top: $yaari-large;
          padding-bottom: $yaari-large;
        }

        table {
          width: 100%;
        }

        &.centered {
          @include yaari-display-flex(center, center);
          margin: $yaari-base 0;
        }
      }

      h3 {
        margin: 0;
        font-size: $yaari-h3;
        font-weight: bold;
        line-height: 100%;

        @include media-breakpoint(lt-md) {
          font-size: $yaari-h5;
        }
      }

      .red-line {
        width: yaari-to-rem(100px);
        height: $yaari-tiny;
        background: $yaari-red;
      }
    }
  }
}
