@import 'lib/variables';
@import 'lib/mixins';
@import 'lib/styles';

@import 'lib/material-theme/variables';
@import 'lib/material-theme/mixins';
@import 'lib/material-theme/styles';

@include yaari-material-styles();
@include yaari-styles();
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";

body
{
    overflow: auto;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
