<main>
  <section class="left-image">
    <h1>Welcome</h1>
    <div class="red-line"></div>
  </section>
  <section class="login-container">
    <form [formGroup]="accountRecoveryForm" class="login-form">

      <section>
        <h3>Reset Password</h3>
        <div class="red-line"></div>
      </section>

      <section class="form-fields">
        <div>
          <h4>Email</h4>
          <mat-form-field appearance="outline" (keyup.enter)="supplierLogin()">
            <mat-label>Enter your email address</mat-label>
            <input matInput formControlName="email" autocomplete="nope">
            <mat-error *ngIf="accountRecoveryForm.controls['email'].hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="accountRecoveryForm.controls['email'].hasError('email')">Please enter a valid email address</mat-error>
          </mat-form-field>
        </div>
      </section>

      <div class="back-to-login">
        <a [routerLink]="['/auth/login']">< Sign In</a>
      </div>

      <app-error-success [errors]="isError$ | async" [success]="isMsg$ | async"></app-error-success>

      <div class="form-group submit-btn-container">
        <button *ngIf="!loading else LoadingSpinner"
                mat-button
                class="btn login-btn"
                (click)="supplierLogin()">Submit</button>
        <ng-template #LoadingSpinner>
          <button mat-button class="btn login-btn">
            <mat-spinner [diameter]="25"></mat-spinner>
          </button>
        </ng-template>
      </div>
      <div class="create-an-account">
        <p>Don't have an account?
          <a [routerLink]="['/auth/registration']" class="login">Register now</a>
        </p>
      </div>
    </form>
  </section>
</main>
