@import 'variables';
@import 'mixins';

:host {
  main {
    width: 100%;
    height: calc(100vh - 100px);
    @include yaari-display-flex();

    section {
      width: 50%;

      section {
        width: 100%;
      }
    }

    .red-line {
      height: $yaari-tiny;
      background: $yaari-red;
    }

    .left-image {
      background-image: url('~src/assets/images/yaari-login.png');
      background-size: cover;

      h1 {
        padding: $yaari-base * 2 0 $yaari-tiny yaari-to-rem(120px);
        color: $yaari-light;
        margin: 0;
        font-size: $yaari-h1;
        font-weight: bold;
        line-height: 100%;
      }

      .red-line {
        width: yaari-to-rem(100px);
        margin-left: yaari-to-rem(120px);
      }
    }

    .login-container {


      .login-form {
        padding: $yaari-base * 3 $yaari-large * 4;

        @include media-breakpoint(lt-lg) {
          padding: $yaari-base $yaari-large;
        }


        section {
          h3 {
            margin: 0;
            line-height: 100%;
            font-size: $yaari-h3;
            font-weight: 500;
            color: $yaari-dark;
          }

          .red-line {
            width: yaari-to-rem(50px);
            margin-top: $yaari-tiny;
          }
        }

        .form-fields {
          width: 100%;
          margin-top: $yaari-large * 2;

          @include media-breakpoint(lt-lg) {
            margin-top: $yaari-base;
          }

          h4 {
            font-size: $yaari-h4;
            font-weight: 500;
            color: $yaari-dark;
            padding: $yaari-tiny $yaari-small;
          }
        }

        .back-to-login {
          @include yaari-display-flex(center, flex-start);
        }

        .submit-btn-container {
          @include yaari-display-flex(center, center);

          button {
            @include yaari-display-flex(center, center);
            width: yaari-to-rem(260px);
            border-radius: 24px;
            background-color: $yaari-red;
            font-size: $yaari-h6;
            color: $yaari-light;

            @include media-breakpoint(lt-lg) {
              margin: $yaari-small 0;
            }
          }
        }

        .create-an-account {
          @include yaari-display-flex(center, center);

          p {
            white-space: pre-wrap;
            font-size: $yaari-default;
            color: $yaari-dark;

            a {
              font-weight: bold;
            }
          }
        }
      }



      div {
        width: 100%;

        .mat-form-field {
          width: 100%;

          mat-icon {
            cursor: pointer;
          }
        }
      }
    }
  }
}
