<main>
  <section class="left-image">
    <h1>Welcome</h1>
    <div class="red-line"></div>
  </section>
  <section class="login-container">
    <form [formGroup]="accountRecoveryForm" (ngSubmit)="supplierLogin()" class="login-form">

      <section>
        <h3>Reset Password</h3>
        <div class="red-line"></div>
      </section>

      <section class="form-fields">
        <div>
          <h4>Email</h4>
          <mat-form-field appearance="outline" (keyup.enter)="supplierLogin()">
            <mat-label>Enter your email address</mat-label>
            <input matInput formControlName="email" autocomplete="nope">
            <mat-error *ngIf="accountRecoveryForm.controls['email'].hasError('required')">Email is required</mat-error>
          </mat-form-field>
        </div>
      </section>

      <div class="back-to-login">
        <a [routerLink]="['/auth/login']">< Sign In</a>
      </div>

      <div class="form-group submit-btn-container">
        <button mat-button [disabled]="!accountRecoveryForm.valid" class="btn login-btn">Submit</button>
      </div>
      <div class="create-an-account">
        <p>Don't have an account?
          <a [routerLink]="['/auth/registration']" class="login">Register now</a>
        </p>
      </div>
    </form>
  </section>
</main>
