<main>
    <section class="left-image">
    </section>
    <section class="login-container">
        <form [formGroup]="resetPassForm" class="login-form">

            <section>
                <h3>Reset Password</h3>
            </section>

            <section class="form-fields">
                <div>
                    <h4>New password</h4>
                    <mat-form-field appearance="outline" (keyup.enter)="resetPass()">
                        <mat-label>Enter your new password</mat-label>
                        <input matInput formControlName="password" autocomplete="nope" minlength="8" maxlength="24"
                            [type]="!hide ? 'password' : 'text'" (input)="validator()">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="resetPassForm.controls['password'].hasError('required')">Password is required
                        </mat-error>
                        <mat-error *ngIf="resetPassForm.controls['password'].hasError('minlength')">Password should be 8 to 24 characters long</mat-error>
                        <mat-error *ngIf="resetPassForm.controls['password'].hasError('lower')">Password should contain atleast a lowercase character</mat-error>
                        <mat-error *ngIf="resetPassForm.controls['password'].hasError('upper')">Password should contain atleast an uppercase character</mat-error>
                        <mat-error *ngIf="resetPassForm.controls['password'].hasError('numeric')">Password should contain atleast a number</mat-error>
                        <mat-error *ngIf="resetPassForm.controls['password'].hasError('special')">Password should contain atleast one special character</mat-error>
                        <mat-error *ngIf="resetPassForm.controls['password'].hasError('invalid_char')">Password cannot contain , : & and space</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <h4>Repeat new password</h4>
                    <mat-form-field appearance="outline" (keyup.enter)="resetPass()">
                        <mat-label>Repeat your new password</mat-label>
                        <input matInput formControlName="repeatPassword" autocomplete="nope" maxlength="24"
                            [type]="!hide ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="resetPassForm.controls['repeatPassword'].hasError('required')">Repeat Password
                            is required</mat-error>
                        <mat-error *ngIf="resetPassForm.controls['repeatPassword'].hasError('notMatch')">
                            The password and confirmation password do not match.
                        </mat-error>
                    </mat-form-field>
                </div>
            </section>

            <div class="form-group submit-btn-container">
                <button *ngIf="!loading else LoadingSpinner" mat-button class="btn login-btn"
                    (click)="resetPass()">Submit</button>
                <ng-template #LoadingSpinner>
                    <button mat-button class="btn login-btn">
                        <mat-spinner [diameter]="25"></mat-spinner>
                    </button>
                </ng-template>
            </div>
        </form>
    </section>
</main>
