@use 'variables' as *;
@use 'mixins' as *;

:host {
  header {
    width: 100%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    height: $header-height;

    img {
      margin: $yaari-large / 2 $yaari-large * 2;
      width: $yaari-large;
      cursor: pointer;

      @include media-breakpoint(lt-sm) {
        margin: $yaari-large / 2 $yaari-tiny;
      }
    }

    img:focus {
      outline: none;
    }
  }
}
