<main>
  <section class="left-image">
    <h1>Welcome</h1>
    <div class="red-line"></div>
  </section>
  <section class="login-container">
    <form [formGroup]="resetPassForm" class="login-form">

      <section>
        <h3>Reset Password</h3>
        <div class="red-line"></div>
      </section>

      <section class="form-fields">
        <div>
          <h4>New password</h4>
          <mat-form-field appearance="outline" (keyup.enter)="resetPass()">
            <mat-label>Enter your new password</mat-label>
            <input matInput formControlName="password" autocomplete="nope" [type]="!hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="resetPassForm.controls['password'].hasError('required')">Password is required</mat-error>
          </mat-form-field>
        </div>
        <div>
          <h4>Repeat new password</h4>
          <mat-form-field appearance="outline" (keyup.enter)="resetPass()">
            <mat-label>Repeat your new password</mat-label>
            <input matInput formControlName="repeatPassword" autocomplete="nope" [type]="!hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="resetPassForm.controls['repeatPassword'].hasError('required')">Repeat Password is required</mat-error>
            <mat-error *ngIf="resetPassForm.controls['repeatPassword'].hasError('notMatch')">
              The password and confirmation password do not match.
            </mat-error>
          </mat-form-field>
        </div>
      </section>

      <app-error-success [errors]="isError$ | async"></app-error-success>

      <div class="form-group submit-btn-container">
        <button *ngIf="!loading else LoadingSpinner"
                mat-button
                class="btn login-btn"
                (click)="resetPass()">Submit</button>
        <ng-template #LoadingSpinner>
          <button mat-button class="btn login-btn">
            <mat-spinner [diameter]="25"></mat-spinner>
          </button>
        </ng-template>
      </div>
    </form>
  </section>
</main>
