:host {
    .main-body {
        margin: 28px 80px;
        font-family: Poppins;
    }

    .head {
        margin-top: 40px;
        font-size: 40px;
        font-weight: bold;
        color: #363636;
    }
    .search {
        width: 100%;
        margin: 30px 0 20px 0;
    }

    .form-field {
        width: 450px;
    }

    .actions {
        min-width: 280px;
    }
    .act-button {
        position: relative;
        margin: 1px 15px 0px 0px;
        height: 39px;
        border-radius: 12px;
        background-color: #ffffff;
        color: #f62101;
        border: 1px solid #f62101;
        width: 90px;
    }
    ::ng-deep .search .mat-form-field-wrapper {
        height: 25px;
        border: solid 2px #efefef;
        border-radius: 12px;
        padding: 3px 13px 10px;
    }

    .search-button {
        position: absolute;
        margin-left: 20px;
        height: 41px;
        border-radius: 12px;
        background-color: #f62101;
        color: #ffffff;
    }
    .action-button {
        margin: 5px;
        height: 35px;
        border-radius: 12px;
        background-color: #f62101;
        color: #ffffff;
    }

    .back-button {
        position: relative;
        height: 41px;
        border-radius: 12px;
        background-color: #f62101;
        color: #ffffff;
        width: 90px;
        float: right;
    }

    .view-button {
        height: 41px;
        border-radius: 15px;
        background-color: #f62101;
        color: #ffffff;
        width: 90px;
    }

    td,
    th {
        padding: 15px;
        text-align: center;
        min-width: 115px;
        max-height: fit-content;
        border: 1px solid gray !important;
        color: #363636;
        font-size: 18px;
    }

    th {
        height: 60px;
        font-weight: 500;
        background-color: #efefef;
    }
    td {
        height: 40px;
        font-weight: normal;
    }
    table {
        max-width: 100%;
    }

    .the-container {
        margin-top: 20px;
        max-height: calc(50vh - 20px);
        overflow: auto;
    }

    .the-container td,
    .the-container th {
        padding: 15px;
        text-align: center;
        min-width: 140px;
        max-height: fit-content;
        border: 1px solid gray !important;
        color: #363636;
        font-size: 18px;
    }

    th.mat-column-position,
    td.mat-column-position {
        padding-left: 8px;
    }
    th.mat-header-cell,
    td {
        min-width: 250px;
        text-align: center;
    }

    ::ng-deep .mat-tab-group {
        padding: 0;
    }
    ::ng-deep .mat-tab-label {
        font-size: 20px;
        color: #363636;
        padding: 0 30px;
    }
    ::ng-deep .mat-tab-header {
        border: none;
    }
    ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
        background-color: #f62101;
        height: 3px;
    }
}
