<div class="main-body">
  <div>
    <h2 class="head">Approve Uploaded Catalogues</h2>
  </div>

  <div class="col-md-12 search">
    <mat-form-field appearance="none" class="form-field" floatLabel="never">
      <input (keyup.enter)="applyFilter(filter)" [(ngModel)]="filter" matInput
             placeholder="Search By Business Name or Catalogue Name">
    </mat-form-field>
    <button (click)="applyFilter(filter)" class="search-button" mat-button type="button">
      <mat-icon>search</mat-icon>
    </button>
    <button class="back-button" mat-button routerLink="../" type="button">Back</button>
  </div>
  <div *ngIf="isLoading$|async ;else resultContent" class="loading">
    <mat-spinner
      [diameter]="50" color="warn" mode="indeterminate"></mat-spinner>
  </div>
  <app-error-success [errors]="getIsError$ | async"></app-error-success>
  <ng-template #resultContent>
    <div class="main-table">
      <table [dataSource]="dataSource" mat-table matSort>
        <ng-container matColumnDef="catalogue_name" sticky>
          <th *matHeaderCellDef class="truncate-cell" mat-header-cell mat-sort-header>Catalogue Name</th>
          <td *matCellDef="let element; let i = index" class="truncate-cell" mat-cell><a
            [routerLink]="['products',{id:element['catalogue_id'],name:element['catalogue_name']}]"
            [title]="element['catalogue_name']">{{element["catalogue_name"]}}</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="product_count">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Product Count</th>
          <td *matCellDef="let element" class="truncate-cell" mat-cell>{{element["product_count"]}}</td>
        </ng-container>
        <ng-container matColumnDef="supplier_business_name">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Supplier Business Name</th>
          <td *matCellDef="let element" class="truncate-cell" mat-cell>{{element["supplier_business_name"]}}</td>
        </ng-container>
        <ng-container matColumnDef="action_by">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Action By</th>
          <td *matCellDef="let element" class="truncate-cell" mat-cell>{{element["action_by"]}}</td>
        </ng-container>
        <ng-container matColumnDef="action_date">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Action Date</th>
          <td *matCellDef="let element" class="truncate-cell" mat-cell>{{element["action_date"]}}</td>
        </ng-container>
        <ng-container matColumnDef="content_updated_by">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Content Updated By</th>
          <td *matCellDef="let element" class="truncate-cell" mat-cell>{{element["content_updated_by"]}}</td>
        </ng-container>
        <ng-container matColumnDef="content_updated_date">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Content Updated Date</th>
          <td *matCellDef="let element" class="truncate-cell" mat-cell>{{element["content_updated_date"]}}</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th *matHeaderCellDef class="actions" mat-header-cell>Action</th>
          <td *matCellDef="let element" mat-cell>
            <!-- <button mat-button class="action-button">Approve</button>
            <button mat-button class="action-button">Reject</button> -->
            <button (click)="downloadCatalogueExcel(element)" class="download-button" mat-icon-button>
              <mat-icon class="download-icon" fontIcon="fa-file-download" fontSet="fa"></mat-icon>
            </button>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        <tr *matNoDataRow class="mat-row">
          <td class="mat-cell" colspan="8">No data matching the filter</td>
        </tr>
      </table>
      <div class="paginator">
        <mat-paginator
                       (page)="change($event)"
                       [length]="totalCount"
                       [pageIndex]="currentPage"
                       [pageSizeOptions]="paginationSizes"
                       [pageSize]="pageSize"
                       showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
  </ng-template>


</div>
