:host {
  .main-body {
    margin: 28px 80px;
    font-family: Poppins;
  }

  .head {
    margin-top: 40px;
    font: 40px Poppins;
    font-weight: bold;
    color: #363636;
  }

  .search {
    width: 100%;
    margin: 30px 0 20px 0;
  }




    .actions {
        min-width: 280px;
    }
    .act-button {
        position: relative;
        margin: 1px 15px 0px 0px;
        height: 39px;
        border-radius: 12px;
        background-color: #ffffff;
        color: #f62101;
        border: 1px solid #f62101;
        width: 90px;
    }
    ::ng-deep .search .mat-form-field-wrapper {
        border: solid 2px #efefef;
        border-radius: 12px;
        padding: 3px 13px 10px;
    }


  .actions {
    min-width: 280px;
  }

  .form-field {
    width: 450px;
  }

  .act-button {
    position: relative;
    margin: 1px 15px 0px 0px;
    height: 39px;
    border-radius: 12px;
    background-color: #f62101;
    color: #ffffff;
    border: 1px solid #f62101;
    width: 90px;

    &__green {
      margin-right: 15px;
      height: 39px;
      color: #ffffff;
      border: 1px solid #02c730;
      background-color: #02c730;
      border-radius: 12px;
    }
  }

  ::ng-deep .search .mat-form-field-wrapper {
    height: 41px;
    border: solid 2px #efefef;
    border-radius: 12px;
    padding: 3px 13px 10px;
  }

  .search-button {
    margin-left: 20px;
    height: 41px;
    border-radius: 12px;
    background-color: #f62101;
    color: #ffffff;
  }


  .action-button {
    margin: 5px;
    height: 35px;
    border-radius: 12px;
    background-color: #f62101;
    color: #ffffff;
  }

  .back-button {
    position: relative;
    height: 41px;
    border-radius: 12px;
    background-color: #ffffff;
    border: 1px solid #f62101;
    color: #f62101;
    width: 90px;
    float: right;
  }

  .view-button {
    height: 41px;
    border-radius: 15px;
    background-color: #f62101;
    color: #ffffff;
    width: 90px;
  }


  td,
  th {
    padding: 15px;
    text-align: center;
    min-width: 100px;
    max-height: fit-content;
    border: 1px solid gray !important;
    color: #363636;
    font-size: 18px;
    font-family: Poppins;
  }

  th {
    height: 60px;
    font-weight: 500;
    background-color: #efefef;
  }

  td {
    height: 40px;
    font-weight: normal;
  }

  table {
    max-width: 100%;
  }

  .the-container {
    margin-top: 20px;
    max-height: calc(50vh - 20px);
    overflow: auto;
  }

  .the-container td,
  .the-container th {
    padding: 15px;
    text-align: center;
    min-width: 100px;
    max-height: fit-content;
    border: 1px solid gray !important;
    color: #363636;
    font-size: 18px;
  }

  th.mat-column-position,
  td.mat-column-position {
    padding-left: 8px;
  }

  th.mat-header-cell,
  td {
    min-width: 150px;
    text-align: center;
  }

  ::ng-deep .mat-form-field {
    font-family: Poppins;
  }

  ::ng-deep .mat-tab-group {
    padding: 0;
  }

  ::ng-deep .mat-tab-label {
    font-size: 20px;
    color: #363636;
    padding: 0 30px;
    font-family: Poppins;
  }

  ::ng-deep .mat-tab-header {
    border: none;
  }

  ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #f62101;
    height: 3px;
  }

  .main-table {
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: scroll;
  }

  .truncate-cell {
    max-width: 175px; /* feel free to include any other value */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .download-button
  {
    width: 54px;
    height: 46px;
    border-radius: 24px;
    background-color: #f62101;
  }

  .download-icon {
    color: #FFFFFF;
  }

}
