@import 'variables';
@import 'mixins';

:host {
  main {
    width: 100%;
    height: calc(100vh - 100px);
    overflow: auto;
    @include yaari-display-flex();

    h3 {
      @include media-breakpoint(lt-sm) {
        padding-left: $yaari-small;
      }
    }

    section {
      width: 100%;
      padding: $yaari-base * 2 yaari-to-rem(120px);

      @include media-breakpoint(lt-md) {
        padding: 0 0 0 $yaari-small;
      }

      @include media-breakpoint(lt-sm) {
        padding: 0;
      }

      .mat-button-toggle-group-appearance-standard {
        border: none;
      }

      mat-button-toggle-group {
        width: 50%;
        margin-top: $yaari-small;

        ::ng-deep .mat-button-toggle-button {
          text-align: left;
        }

        mat-button-toggle {
          width: 50%;
          font-size: 19px;

          &:last-child {
            padding-left: $yaari-large;
          }

          ::ng-deep .mat-button-toggle-label-content {
            line-height: $yaari-small * 2;
            margin-bottom: 0;
            padding-left: 0;
          }

          &.mat-button-toggle-checked {
            background: $yaari-light;
            line-height: $yaari-large;

            ::ng-deep .mat-button-toggle-label-content {
              border-bottom: 5px solid $yaari-red;
            }
          }
        }
      }

      .search-container {
        @include yaari-display-flex(center, flex-start);

        @include media-breakpoint(lt-sm) {
          @include yaari-display-flex(center, center, column);
        }


        .date-range-form {
          padding-top: $yaari-large;
          @include media-breakpoint(lt-sm) {
            @include yaari-display-flex(center, center, column);
          }

          .mat-form-field {
            width: 50%;

            @include media-breakpoint(lt-sm) {
              width: 80%;
            }
          }
        }
      }

      div {
        width: 100%;
        overflow: auto;
        @include yaari-display-flex(center, flex-start);

        &.table-box {
          padding: $yaari-xlarge 0;
          flex-wrap: wrap;

          div {
            @include yaari-display-flex(flex-start, flex-start, column);
            padding: $yaari-small;
            width: 50%;

            h4 {
              padding-left: $yaari-small;
            }

            span {
              padding: $yaari-small;
              border-radius: 24px;
              background-color: #efefef;
              width: 320px;
            }
          }
        }

        table {
          width: 1280px;
        }

        &.centered {
          @include yaari-display-flex(center, center);
          margin: $yaari-base 0;
        }
      }

      h3 {
        padding-top: $yaari-base * 2;
        margin: 0;
        font-size: $yaari-h3;
        font-weight: bold;
        line-height: 100%;

        @include media-breakpoint(lt-md) {
          font-size: $yaari-h5;
        }
      }

      h5 {
        padding-top: $yaari-base * 2;
        padding-bottom: $yaari-base;
        margin: 0;
        font-size: $yaari-h5;
        font-weight: normal;
        line-height: 100%;

        @include media-breakpoint(lt-md) {
          font-size: $yaari-h6;
        }
      }

      .red-line {
        width: yaari-to-rem(100px);
        height: $yaari-tiny;
        background: $yaari-red;

        @include media-breakpoint(lt-sm) {
          margin-left: $yaari-small;
        }
      }

      button {
        @include yaari-display-flex(center, space-between);
        padding: $yaari-tiny $yaari-large;
        border-radius: 24px;
        background-color: $yaari-red;
        font-size: $yaari-h6;
        color: $yaari-light;
        margin-bottom: $yaari-large / 2;
        margin-left: $yaari-large;

        @include media-breakpoint(lt-sm) {
          margin-left: 0;
        }

        &.element-btn {
          margin-bottom: 0;
          margin-left: $yaari-tiny;
        }
      }

    }
  }
}

.clickable {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
