.container-fluid {
    font-family: Poppins;
    margin-top: 30px;
  
    .row {
      margin-bottom: 25px;
    }
  
    .col-md-6,
    .col-md-12 {
      display: flex;
      flex-direction: column;
    }
  
    .form-label {
      font-size: 20px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: #363636;
      margin-left: 10px;
    }
  
    .form-control {
      height: 50px;
      border-radius: 15px;
      background-color: #efefef;
      font-family: Poppins;
      color: #363636;
      font-size: 20px;
      border: 0px;
    }
  
    input:focus,
    textarea:focus,
    select:focus {
      outline: none;
    }
  
    .product-description {
      color: #363636;
      font-size: 20px;
      border-radius: 15px;
      border: solid 1px #363636;
      padding: 10px;
    }
  
  }
  
  textarea {
    resize: none;
  }
  
  select {
    padding: 15px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right#efefef;
    -webkit-appearance: none;
    background-position-x: right;
  }
  
  .input-bg-white{
    background-color: white !important;
    border: 1px solid black !important;
  }
  