:host {
    ::ng-deep .email-field .mat-form-field-wrapper {
        border: solid 2px #363636;
        border-radius: 12px;
        padding: 3px 13px 10px;
    }

    ::ng-deep .invalid-field .mat-form-field-wrapper {
        border: solid 2px #f62101;
        border-radius: 12px;
        padding: 3px 13px 10px;
    }
    ::ng-deep .email-field .mat-form-field-suffix {
        margin-top: -5px;
    }

    ::ng-deep .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
        top: -2px;
    }
    ::ng-deep .mat-form-field {
        font-family: Poppins;
    }
}
.logo-div {
    position: absolute;
    display: flex;
    width: 50%;
}

.email-field {
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: stretch;
}

.form-div {
    margin-top: 100px;
}

.field {
    min-width: 65%;
}
.reset-div {
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
}
.left-image {
    width: 100%;
    height: 100%;
    margin: 0px 154px 0px 0px;
    object-fit: contain;
}

.forgot-password {
    font-family: Poppins;
}

.error {
    margin-top: 20px;
}
.forgot-container {
    position: absolute;
    margin-left: 58%;
    width: 50%;
    height: auto;
}

.labels {
    margin: 30px 0px 10px 0;
    color: #363636;
    font-weight: 500 !important;
    font: 38px Poppins;
}
.back-div {
    margin-top: 50px;
}
.back {
    text-align: left;
    margin-top: 10px;
    color: #0000ee;
    font-family: Poppins;
}
.submit-div {
    width: 65%;
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.submit {
    min-width: 150px;
    max-width: 300px;
    height: 40px;
    color: #ffffff;
    font-weight: 500;
    margin: auto;
    border-radius: 24px;
    background-color: #f62101;
    text-align: center;
    font-family: Poppins;
}

.spinner {
    margin: auto;
}
