:host {
    ::ng-deep .email-field .mat-form-field-wrapper {
        height: 25px;
        border: solid 2px #363636;
        border-radius: 12px;
        padding: 3px 13px 10px;
    }

    ::ng-deep .invalid-field .mat-form-field-wrapper {
        height: 25px;
        border: solid 2px #f62101;
        border-radius: 12px;
        padding: 3px 13px 10px;
    }
    ::ng-deep .email-field .mat-form-field-suffix {
        margin-top: -5px;
    }

    ::ng-deep .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
        top: -2px;
    }
}

.left-image {
    width: 50%;
    height: 100%;
    margin: 0px 154px 0px 0px;
    object-fit: contain;
}

.forgot-password {
    font: Poppins;
}

.forgot-container {
    position: absolute;
    margin-left: 58%;
    width: 50%;
    height: auto;
}

.labels {
    margin: 30px 0px 10px 0;
    color: #363636;
    font-weight: 500;
    font-size: 48px;
}

.submit {
    min-width: 150px;
    max-width: 300px;
    height: 40px;
    color: #ffffff;
    font-weight: 500;
    margin:auto;
    border-radius: 24px;
    background-color: #f62101;
    text-align: center;
  }