<div class="forgot-password">
    <div class="logo-div">
        <img src="assets/images/yaari-login.png" class="left-image">
    </div>
    <div class="forgot-container">
        <form [formGroup]="resetPasswordForm">
            <div class="form-div">
                <div class="reset-div">
                    <h2 class="labels">Reset Password</h2>
                </div>
                <div class="email-field"
                    [ngClass]="{'invalid-field':resetPasswordForm.controls.username.touched && resetPasswordForm.controls.username.hasError('required')}">
                    <mat-form-field floatLabel="never" appearance="none" class="field">
                        <input matInput formControlName="username" placeholder="Enter your login ID" email>
                        <mat-error class="error" *ngIf="resetPasswordForm.controls.username.hasError('required')">Email
                            is required
                        </mat-error>
                        <mat-error class="error" *ngIf="resetPasswordForm.controls.username.hasError('email')">
                            Please enter a valid email address</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="back-div">
                <div class="back">
                    <a [routerLink]="['../login']">{{'<< Sign In'}}</a>
                </div>
                <div class="submit-div">
                    <button *ngIf="!loading else LoadingSpinner" mat-button class="submit"
                        (click)="submit()">Submit</button>
                </div>

                <ng-template #LoadingSpinner>
                    <button mat-button class="submit">
                        <mat-spinner [diameter]="25" class="spinner"></mat-spinner>
                    </button>
                </ng-template>
            </div>
        </form>
    </div>
</div>