<div class="forgot-password">
    <div style="position: absolute;">
        <img src="assets/images/yaari-login.png" class="left-image">
    </div>
    <div class="forgot-container">
        <form [formGroup]="resetPasswordForm">
            <div style="margin-top:100px;">
                <div style="width: 100%; margin-top: 50px;display: flex; align-items:flex-start">
                    <h2 class="labels">Reset Password</h2>
                </div>
                <div class="email-field" style="width: 100%; margin-top: 50px;display: flex; align-items: stretch;"
                    [ngClass]="{'invalid-field':resetPasswordForm.controls.username.touched && resetPasswordForm.controls.username.hasError('required')}">
                    <mat-form-field floatLabel="never" appearance="none" style="min-width: 65%;">
                        <input matInput formControlName="username" placeholder="Enter your login ID" email>
                        <mat-error style="margin-top: 20px;"
                            *ngIf="resetPasswordForm.controls.username.hasError('required')">Email is required
                        </mat-error>
                        <mat-error style="margin-top: 20px;"
                            *ngIf="resetPasswordForm.controls.username.hasError('email')">
                            Please enter a valid email address</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div style="margin-top:50px;">
                <div style="text-align: left;margin-top: 10px;color: #0000ee;">
                    <a [routerLink]="['../login']">{{'<< Sign In'}}</a>
                </div>
                <div style="width: 65% ;display: flex; align-items: center; margin-top:15px">
                    <button *ngIf="!loading else LoadingSpinner" mat-button class="submit"
                        (click)="submit()">Submit</button>
                </div>

                <ng-template #LoadingSpinner>
                    <button mat-button class="submit">
                        <mat-spinner [diameter]="25" style="margin: auto;"></mat-spinner>
                    </button>
                </ng-template>
            </div>
        </form>
    </div>
</div>