@import 'variables';
@import 'mixins';


:host {
  @include yaari-display-flex(center, center, column);
  width: 80%;

  div {
    @include yaari-display-flex(center, center, column);
    width: 75%;

    h3 {
      font-size: $yaari-default-small;
      text-align: center;

      &.error-msgs {
        color: $yaari-red;
      }
    }
  }
}
