<div class="main-body">
  <div>
    <h2 class="head">Catalogue Content Management</h2>
  </div>

  <div class="search col-md-12">
    <div class="col-md-6 search--flex">
      <mat-form-field floatLabel="never" appearance="none" class="form-field">
        <input matInput (keyup.enter)="applyFilter(filter)" placeholder="Search By Catalogue ID Name or SKU ID" [(ngModel)]="filter">
      </mat-form-field>
      <button mat-button type="button" class="search-button" (click)="applyFilter(filter)">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div class="col-md-6">
      <button class="back-button" mat-button routerLink="../" type="button">Back</button>
      <button (click)="nagivateToEdit()" [disabled]="selectedRows.data.length === 0" class="edit-button" mat-button
              type="button">
        <mat-icon class="edit-button__icon" fontIcon="fa-edit" fontSet="fa"></mat-icon>
        Edit Selected Catalogue
      </button>
    </div>
  </div>
  <div *ngIf="isLoading$|async ;else resultContent" class="centered loading">
    <mat-spinner [diameter]="50" color="warn"></mat-spinner>
  </div>
  <ng-template #resultContent>
    <div *ngIf=" dataSource?.data?.length" class="centered table-box">
      <div class="col-md-12">
        <table [dataSource]="dataSource" mat-table matSort>
          <ng-container matColumnDef="selected_product_sku_id" sticky>
            <th *matHeaderCellDef mat-header-cell>Select catalogue</th>
            <td *matCellDef="let element; let i = index" mat-cell>
              <mat-checkbox (change)="changed($event, element.catalogue_id)" class="example-margin">
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="catalogue_name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Catalogue Name</th>
            <td *matCellDef="let element" mat-cell>{{element.catalogue_name}}</td>
          </ng-container>
          <ng-container matColumnDef="supplier_business_name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Supplier Business Name</th>
            <td *matCellDef="let element" mat-cell>{{element.supplier_business_name}}</td>
          </ng-container>
          <ng-container matColumnDef="category_name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Product Category</th>
            <td *matCellDef="let element" mat-cell>{{element.category_name}}</td>
          </ng-container>
          <ng-container matColumnDef="product_count">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Product Count</th>
            <td *matCellDef="let element" mat-cell>{{element.product_count}}</td>
          </ng-container>
          <ng-container matColumnDef="catalogue_status">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Catalogue status</th>
            <td *matCellDef="let element" mat-cell>{{element.catalogue_status}}</td>
          </ng-container>

          <ng-container matColumnDef="catalogue_uploaded_by">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Catalogue uploaded by</th>
            <td *matCellDef="let element" mat-cell>{{element.catalogue_uploaded_by}}</td>
          </ng-container>

          <ng-container class="mat-column-max-width-100" matColumnDef="catalogue_uploaded_date">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Catalogue uploaded date</th>
            <td *matCellDef="let element" mat-cell>{{element.catalogue_uploaded_date}}</td>
          </ng-container>

          <ng-container matColumnDef="action_by">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Catalog Action By</th>
            <td *matCellDef="let element" mat-cell>{{element.action_by}}</td>
          </ng-container>


          <ng-container matColumnDef="action_date">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Catalog Action Date</th>
            <td *matCellDef="let element" mat-cell>{{element.action_date}}</td>
          </ng-container>

          <ng-container matColumnDef="content_updated_by">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Catalogue Content Updated Date</th>
            <td *matCellDef="let element" mat-cell>{{element.content_updated_by}}</td>
          </ng-container>

          <ng-container matColumnDef="content_updated_date">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Catalogue Content Updated Date</th>
            <td *matCellDef="let element" mat-cell>{{element.content_updated_date}}</td>
          </ng-container>

          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
          <tr *matNoDataRow class="mat-row">
            <td class="mat-cell" colspan="12">No data matching the filter</td>
          </tr>
        </table>
      </div>

      <div class="paginator">
        <mat-paginator
          (page)="change($event)"
          [length]="totalCount"
          [pageIndex]="currentPage"
          [pageSizeOptions]="paginationSizes"
          [pageSize]="pageSize"
                       showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>

    <div *ngIf="!dataSource?.data?.length" class="centered">
      <p>Oops, nothing found.</p>
    </div>
  </ng-template>

</div>


